.nav {
  margin-top: 33px;
}

.nav-pills .nav-link {
  font-weight: lighter;
  font-size: 1.3em;
  color: grey;
}

.nav-link:hover {
  color: darkgrey;
}

.nav-pills .nav-link.active {
  background-color: grey;
}

.navbar-collapse {
  margin-top: 0px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {

  .navbar-collapse {
    margin-top: 8px;
  }

}